.subscribe{
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
    border: 5px solid #ccc;
}
.subscribe-box h2{
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 20px;}
.subscribe-box ul{
    list-style-type: none;
    padding: 0;
}